.logoContainer {
    display: block;
    width:6000px;
    overflow-x: hidden;
}
  
   .logo {
    display: inline-block;
    width: 2000px;
    animation: move 30s linear infinite;
  }

  
  @keyframes move {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }