  .container {
    width: 100%;
    height: 100vh;
    margin:auto;
    overflow: hidden;
    position: relative;

  }

  .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;  
    
  }

  .slider {
    display: flex;
    height: 100%;
    width: 300%;
    flex-shrink: 0;
    transition: all 0.5s;
    overflow: hidden;
    
  }

  .slider section {
    display: flex;
    flex-basis: 20%;
    flex-shrink:0;
    flex:1;
    width:20%;
    
    
  }
  
  .leftArrowStyles , .rightArrowStyles {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;  
    padding: 1rem;
    font-size: 45px;
    color: white;
    z-index: 10;
    cursor: pointer;
    transition: 0.5s;
  }

  .leftArrowStyles {
    left: 0;
  }
  
  .rightArrowStyles {
    right: 0;
  }

 
  .leftArrowStyles:hover , .rightArrowStyles:hover {
    background-color: rgba(0, 0, 0, 0.375);
    z-index: 10;
  }
  
  .dotStyles {
    display: flex;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    gap: 1rem;
    position: absolute;
    z-index: 10;
    bottom:1rem;
    color: white;
  }
  
.normaldot {
  z-index:10;
}

.activedot {
  color: rgb(152, 152, 152);
  z-index:10;
}


.slideImage {
   object-fit: cover;
    width: 100%;
    height: inherit;
}

.slideImageActive {
  object-fit: cover;
   width: 100%;
   height: inherit;
   animation: scale 10s ease-out;
}

.buttons {
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
  border: solid white 2px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0.5rem 1rem;
  background-color: #0284C7;
}


@keyframes appear {
  from {transform: translate(100%);}
  to {transform: translate(0%);}
}

@keyframes scale {
  to {scale:1.5;}
}
    
    

